Fabio Salvalai <fabio@seesharp.ch> salfab
Fabio Salvalai <fabio.salvalai@gmail.com> salfab
Pedro Pombeiro <pedropombeiro@gmail.com> pedropombeiro
Pedro Pombeiro <pedropombeiro@gmail.com> <pedro.pombeiro@liebherr.com>
Daniel Romero <daniel.romero@baseclass.ch> romerod
