---
layout: default
---


<div class="article-navigation">
  {% for item in site.categories.articles limit:40 offset:0 %}
    <a class="article-link" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
      
    </a>
  {% endfor %}
</div>

<div class="intro">
  <div class="title">{{page.title}}</div>
  <div class="abstract">{{page.abstract}}</div>
  <div class="meta"> Posted by <a href="http://twitter.com/{{page.author_twitter}}">{{page.author}}</a> on {{ page.date | date: "%B %d, %Y" }} </div>
</div>

<div class="article-wrapper">
  <div class="help post-content">
    {{ content }}
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39087937-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
